@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', 'cursive';
    --fonte3: 'Sriracha', 'cursive';
}

* {
    padding: 0px;
    margin: 0px;
    font-size: 1em;
}

body {
    min-height: 100vh;
    background-color: rgb(153, 148, 171);
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding: 50px 0px 0px 0px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}

header > p {
    padding: 0px 0px 50px 0px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
    background-image: url('imagens/tex_papel.jpg');
    background-position: center center;
    background-size: cover;
}

section.normal > p {
    text-shadow: 0px 0px 5px rgba(1, 0, 20, 0.222);
}

section.imagem {
    background-color: rgb(26, 24, 33);
    color: white;
    box-shadow: inset 1px 1px 30px 1px rgba(5, 0, 28, 0.451);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    background-image:linear-gradient(to right, rgba(2, 0, 19, 0.558), transparent) ;
    display: inline-block;
    padding: 5px;
    text-shadow: 0px 0px 10px rgb(2, 0, 16);
}

section#img01 {
    background-image: url('imagens/background001.jpg');
    background-position: right center;
}

section#img02 {
    background-image: url('imagens/background002.jpg');
    background-position: right center;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}